.header {
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 8px 12px;
  margin-bottom: 8px;

  background-color: #c0c0c0;
  border: 2px solid #808080;
  border-radius: 4px;
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.top> :first-child {
  justify-self: start;
}

.top> :nth-child(2) {
  justify-self: center;
}

.top> :last-child {
  justify-self: end;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highScore {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.settings {
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  cursor: pointer;

  background-color: #c0c0c0;
  border: 2px outset #ffffff;
  border-radius: 4px;
}

.settings:active {
  border: 2px inset #808080;
}

.debugButton {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  background: #ff9800;
  color: white;
  border: none;
  cursor: pointer;
}

.debugButtonActive {
  background: #e65100;
}