.button {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  cursor: pointer;

  background-color: #c0c0c0;
  border: 2px outset #ffffff;
  border-radius: 4px;
}

.button:active {
  border: 2px inset #808080;
}
