.cell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  user-select: none;
}

.cellDisabled {
  pointer-events: none;
}

.closed {
  background-color: #ccc;
}

.open {
  background-color: #eee;
}